<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/global.css" type="text/css" media="screen, projection">
  <title>text to DFXP</title>
</head>
<body>
  <div id="content">
      <h1>Text to DFXP<span id="version"> Version - 0.3</span></h1>
      <% if @error %>
        <div class="error">
          <%= @error %>
        </div>
      <% end %>
      <%= yield %>
	<div id="howto">
		<h3>Colours</h3>
		<ul class="speakerColours">
			<li id="Yellow">DEFAULT</li>
			<li id="Cyan">BERNHEIMER</li>
			<li id="green">ISABELLE</li>
			<li id="magenta">KAREN</li>
			<li id="white">LUKAS, ALOIS, VICKY, ANTONIO, STELLA</li>
		</ul>
		<h3>How to</h3>
		<ol>
			<li>.docx => Save as "plain text" - <strong>encoding UTF8</strong></li>
			<li>Convert plain text document using this web app (Download should start automatically)</li>
			<li><strong>Import</strong> file into EZTitles choosing "<strong>DFXP</strong>" as import profile (<strong>seconds</strong> as TC base)</li>
		</ol>
		<h3>Trouble shooting</h3>
		<p>if you get the error that the file is in the wrong format then open the txt file in a good text editor (iMac - text mate) and save as UTF8 - Line endings "LF". Then try again</p>
	</div>
  </div>
</body>
</html>